{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
{% load honeypot %}
<div class="contact-bg">
    <br>        
    <div class="rate-box">
        {% if success %}
            <p style="color: lightgreen; text-align: center; font-weight: bold;">Thanks! We'll be in touch soon.</p>
        {% endif %}
        <h1 style="color: white; text-align: center;">Contact Us:</h1>
        <h4>Please feel free to reach out to us by phone:</h4>
        <p>The Ultimate Boating Club: 844-322-2582</p>
        <p>Greater Charlotte Market: 239-745-0110</p>
        <p>Wilmington-Outer Banks Market: 740-317-1158</p>
        <h4>Or fill out this form and we will get back to you!</h4>


        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="form-errors">
                    {{ form.errors }}
                </div>
            {% endif %}    
            
            {% if messages %}
                {% for message in messages %}
                    <div class="success-message">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group text-white">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="form-group text-white">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>

            <div class="form-group text-white">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>

            <div class="form-group text-white">
                {{ form.phone_number.label_tag }}
                {{ form.phone_number }}
            </div>

            <div class="form-group text-white">
                {{ form.question.label_tag }}
                {{ form.question }}
            </div>
            {% render_honeypot_field %}
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
    <br>
</div>

{% endblock %}
