<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Destination Boat Clubs{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/messages.css' %}">
        <link rel="icon" href="{% static 'images/dbc-logo-small.png' %}" type="image/png">
            
        <link rel="stylesheet" href="{% static 'home/css/middle.css' %}">
        <link rel="stylesheet" href="{% static 'home/css/contact.css' %}">
        {% block extra_css %}{% endblock %}
        <!-- <script src="{% static 'js/nav_toggle.js' %}"></script> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">


    </head>

    <body class="{% block body_class %}{% endblock %}">
        <!-- Header Section -->
        <!-- Large Screens -->
        <header id="siteHeader" class="site-header">
            <div class="d-none d-md-block">
                <div class="header-container">

                    <div class="header-center">
                        <div class="header-top">
                            <div class="header-promo">
                                <a href="{% url 'home' %}">Check out our Specials!</a>
                            </div>

                            <div class="header-text">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'images/midgeorgia.png' %}" alt="Boat Club Logo" style="height: 150px; width: auto;">
                                    <h1>Mid  Georgia  Boat  Club™</h1>
                                </a>
                            </div>

                            <div class="header-phone">
                                <a href="tel:+12397450110">(239) 745 - 0110</a>
                            </div>
                        </div>
                        <nav class="navbar">
                            <ul class="nav-list">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'amenities' %}">Amenities</a></li>
                                <li><a href="{% url 'equipment' %}">Equipment</a></li>
                                <li><a href="{% url 'first_responders' %}">First Responders &amp; Military</a></li>
                                <li><a href="{% url 'dirty_work' %}">We Do The Dirty Work</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>

            <!-- Mobile screens -->
            <div class="d-block d-md-none">
                <nav class="navbar navbar-dark mobile-nav flex-wrap px-3">
                    <div class="header-text">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/midgeorgia.png' %}" alt="Boat Club Logo" style="height: 100px;">
                            <h1 style="font-size: 2rem;">Mid  Georgia  Boat  Club™</h1>
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNavMenu" aria-controls="mobileNavMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mobileNavMenu">
                        <ul class="navbar-nav text-center w-100 py-2">
                            <li class="nav-item"><a class="nav-link text-white fw-bold" href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link text-white fw-bold" href="{% url 'amenities' %}">Amenities</a></li>
                            <li class="nav-item"><a class="nav-link text-white fw-bold" href="{% url 'equipment' %}">Equipment</a></li>
                            <li class="nav-item"><a class="nav-link text-white fw-bold" href="{% url 'first_responders' %}">First Responders &amp; Military</a></li>
                            <li class="nav-item"><a class="nav-link text-white fw-bold" href="{% url 'dirty_work' %}">We Do The Dirty Work</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Main Content Area -->
        <main class="site-main">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" style="color: red; background-color: white; font-size: large; font-weight: bold;">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}
            <!-- Page-specific content will go here -->
            {% endblock %}
        </main>

        <!-- Footer Section -->
        <footer style="  background-color: #0f1d32; color: #FFFFFF; padding: 20px 0; text-align: center;">
            <div>
                <div class="footer-info">
                    <p>Call Us! 239-745-0110</p>
                </div>
                <div class="social-media">
                    <a href="#"><img src="{% static 'images/facebook-icon.jpg' %}" alt="Facebook" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/twitter-icon.jpg' %}" alt="Twitter" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/instagram-icon.png' %}" alt="Instagram" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/linkedin-icon.png' %}" alt="Linkedin" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/pinterest-icon.png' %}" alt="Pintrest" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/youtube-icon.png' %}" alt="Youtube" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/reddit-icon.png' %}" alt="Reddit" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/tumblr-icon.jpg' %}" alt="Tumblr" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/vimeo-icon.png' %}" alt="Tumblr" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/flickr-icon.png' %}" alt="Tumblr" style="width: 20px; margin: 0 10px;"></a>
                    <a href="#"><img src="{% static 'images/tiktok-icon.png' %}" alt="Tumblr" style="width: 20px; margin: 0 10px;"></a>


                
                </div>
            </div>
        </footer>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        {% block extra_js %}{% endblock %}
        <script src="{% static 'js/header_scroll.js' %}" defer></script>

    </body>
</html>
